<h1>Web Portal</h1>
<h3>Hello <%= aname %></h3>
<h3>Pin Recovery</h3>
<h3>Your Pin is:</h3>
<h4><%= pin %></h4>
<br><br>
<br><br><br><br><br>
<h5>Powered by Burhani IT Solutions</h5>
<h5>Email: info@burhanisoluions.com.pk</h5>
<h5>http://www.burhanisolutions.com.pk/</h6>